{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <div class="container">
        <h1>Why Bodyweight?</h1>
        <p>Bodyweight training is ideal as a workout method or as a supplement to other fitness activities.</p>
    </div><!-- /.container -->
</div><!-- /.intro-header -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Effective</h2>
                <p class="lead">Bodyweight training techniques can be used anyone to build a high degree of functional strength.
                Train smarter, safer, and more effectively using the tools you were born with.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/ipad.png" alt="">
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">No barriers</h2>
                <p class="lead">No equipment, memberships or coaching required. Train any time in almost any environment.
                Bodyweight exercises are useful to virtually any level of fitness or expertise.
                No excuses or reasons to put off training immediately.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/dog.png" alt="">
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.content-section-b -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">A gym-free strength workout</h2>
                <p class="lead">You don't need a gym or even weights to build a high standard of functional strength. Use a bodyweight routine to train smarter, safer, and more effectively.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/ipad.png" alt="">
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Keep your training interesting</h2>
                <p class="lead">Get a new, unique training routine delivered to your inbox daily (or as often as you want). Train our app to your fitness level, and ensure that you keep improving with progressive overloading.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/dog.png" alt="">
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.content-section-b -->
{% endblock content %}
