{% extends "base.html" %}

{% block content %}
<div class="workout-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="workout-message">
                    <h1>Disclaimer</h1>
                    <hr class="landing-divider">
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.workout-header -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <p>This site can be used to generate workout routines based upon input that
                you provide. These routines are general in nature, and not tailored for any
                specific person.</p>
                <p>As a free-willed human being, you are responsible to choosing to undertake
                part or all of any exercise routine at your own pace and own risk. This
                includes:</p>
                <ul>
                <li>Warming up & stretching</li>
                <li>Undertaking exercise motions safely</li>
                <li>Reviewing and adjusting routine difficulty</li>
                </ul>
                <p>In summary: do not undertake any exercise motion that you don't feel
                comfortable doing.</p>
            </div>
        </div>
    </div>
</div><!-- /.container -->
{% endblock content %}
