{% extends "base.html" %}

{% block topnav %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="landing-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="landing-message">
                    <h1>What's My Workout?</h1>
                    <h3>A bodyweight strength workout on demand</h3>
                    <hr class="landing-divider">
                </div><!-- /.landing-message -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="landing-buttons">
                    <a href="workout?preset=easy" class="btn btn-lg btn-success">
                        <span class="landing-button">Easy</span>
                    </a>
                    <a href="workout?preset=medium" class="btn btn-lg btn-warning">
                        <span class="landing-button">Medium</span>
                    </a>
                    <a href="workout?preset=advanced" class="btn btn-lg btn-danger">
                        <span class="landing-button">Advanced</span>
                    </a>
                </div><!-- /.landing-buttons -->
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.landing-header -->
{% endblock content %}

{% block footer %}{% endblock %}
